.todo__list button{
    margin-left: 13px;
}
.todo__list li{
    margin-top: 15px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.todo__input{
    margin-top: 50px;
    text-align: center;
}

@keyframes deleteBtnAni{
    from{
        transform: rotate(0turn);
        color: red;
    }
    to{
        transform: rotate(6turn);
        color: aquamarine;
    }
}
.todo__list li button:hover{
    animation: deleteBtnAni 1s ease-in-out forwards;

}